@model CelestialCandle.Models.CandleSizeViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Radiance We Bring!</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Candles" asp-action="Index" method="get">
    <p>
        <select asp-for="CandleSize" asp-items="Model.Sizes">
            <option value="">All</option>
        </select>
        Title: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Candles[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Candles[0].ManufactureDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Candles[0].Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Candles[0].Colour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Candles[0].Fragrance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Candles[0].MeltingPoint)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Candles[0].Material)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Candles[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Candles)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ManufactureDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Size)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Colour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fragrance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MeltingPoint)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Material)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>

                </td>
            </tr>
        }
    </tbody>
</table>
